table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:after{
  display: none;
}
table.dataTable {
  th, td{
    text-align: center;
    padding: 0.4rem;
    vertical-align: middle;
  }

}